.login-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
}

a {
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.tab-content {
    overflow: hidden;
}
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.text-atas-navbar {
    color: #ffffff;
}

.text-atas {
    font-weight: bolder;
}

.card-detail {
    margin-top: 50px;
    background: #eee;
    padding: 2em;
    line-height: 1.5em;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product-title,
.price,
.sizes,
.colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}

.checked,
.price span {
    color: #000000;
}

.product-title,
.product-description,
.price {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

* {
    font-family: "Poppins", sans-serif;
}

.bg-kuning {
    background-color: #ffdc3f;
}

.bg-kuning-telor {
    background-color: #f1c384;
}

.text-navbar {
    color: #000000 !important;
    font-weight: bold;
}

.text-kuning {
    color: #000000;
}

.banner {
    margin: auto;
    padding: 40px;
    color: white;
    height: 73%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://t3.ftcdn.net/jpg/03/14/27/32/360_F_314273279_isVcyAZTDbcbBTjGeDC8mepN3Gmdt2mS.jpg");
}

.text-banner {
    color: #100148;
    font-weight: bolder;
}

.konten-banner {
    padding: 70px;
}

.jumbotron {
    margin-bottom: 0;
}

.foot {
    color: white;
}
